* {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

body {
    background-color: #f4e4bc;
}

.home-btn {
    /* Layout */
    display: inline-block;
    padding: 10px;
    
    /* Typography */
    font-size: 15px;
    text-decoration: none;
    color: black;
    
    /* Visual */
    background-color: #eceddb;
    border: 1px solid #727375;
    border-radius: 30px;
    
    /* Animation */
    transition: background-color 1s ease;
}

.home-btn:hover {
    background-color: #d4d5c2;
}

.title {
    /* Layout */
    margin: 20px auto;
    text-align: center;
    
    /* Typography */
    font-size: 50px;
}

img {
    /* Layout */
    display: block;
    margin: auto;

    /* Visual */
    border: 1px solid #727375;
    border-radius: 10px;
}

h2 {
    /* Layout */
    margin: 20px auto;
    text-align: center;
}

ol li {

}